<!-- 
<div class="container">
  <div *ngFor="let temp of list">
      <ol *ngIf="temp.designation =='Angular'" class="ang">
       <div class="inner">
        <ng-container class="qu">
          {{temp.Name}}
        </ng-container>
        <ng-container class="qu" >
          {{temp.designation}} 
        </ng-container>
        <ng-container class="qu">
           {{temp.Salary}}
        </ng-container>
       </div>
      </ol> <br>
      <ol *ngIf="temp.designation !='Angular'" class="fs">
        <ng-container >
          {{temp.Name}} {{temp.designation}} {{temp.Salary}}
        </ng-container>
      </ol>
  </div>
</div>

<div class="wrapper">
  <nav>one</nav>
  <nav>two</nav>
  <nav>three</nav>
</div> -->


<div class="details" style="display: flex;padding: 30px 50px;background-color: aqua;margin: auto;width: 50dvw;flex-direction: column;" #chq>
  <!-- <div> -->
    <label for="name">Name <span *ngIf="namechq" style="color: red;" title="Name is mandatory"> *</span></label>
  <input name="name" type="text" style="outline: none;" #name><br>
  <label for="age">Age</label>
  <input name="age" type="number" #age><br>
  <label for="class">Class</label>
  <input name="class" type="text" #class> <br>
  <input *ngIf="!upd" type="button" style="width: 20%;" value="Submit" (click)="calfn({name,age,class})">
  <div *ngIf="upd"><input  type="button" style="width: 10%;" value="Update" (click)="upn({name,age,class})">
    <input  type="button" style="width: 10%;" value="Cancel" (click)="cnl({name,age,class})"></div>
  <!-- </div> -->
   <!-- <button *ngIf="upd ? 'upn({name,age,class})':'cnl({name,age,class})'">{{upd ? "Update":"Cancel"}}</button> -->
</div><br><br><br>

<div class="form">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="name"></label>
    <input name="name" type="text" ngModel #name>
    <label for="name"></label>
    <input name="game" type="text" ngModel  #game>
    <label for="name"></label>
    <input name="fame" type="text" ngModel  #fame>
    <button type="submit">Click</button>
  </form>
</div>
<!-- <div class="form">
  <form [formGroup]="forms" (ngSubmit)="onSubmits(forms)" style="display: flex;padding: 30px 50px;background-color: aqua;margin: auto;width: 50dvw;flex-direction: column;">
    <label for="name">name</label>
    <input name="name" type="text" formControlName="name">
    <label for="game">game</label>
    <input name="game" type="text" formControlName="game">
    <label for="fame">fame</label>
    <input name="fame" type="text"formControlName="fame"> <br>
    <button type="submit" style="width: 20%;">Click</button>
  </form>
</div> -->
<div class="form">
  <form [formGroup]="forms" (ngSubmit)="onSubmits(forms)" style="display: flex; padding: 30px 50px; background-color: aqua; margin: auto; width: 50dvw; flex-direction: column;">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" formControlName="name">
    <div *ngIf="forms.get('name')?.invalid && forms.get('name')?.touched">
      <small *ngIf="forms.get('name')?.errors?.['required']">Name is required.</small>
      <small *ngIf="forms.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
    </div>

    <label for="game">Game</label>
    <input id="game" name="game" type="text" formControlName="game">
    <div *ngIf="forms.get('game')?.invalid && forms.get('game')?.touched">
      <small *ngIf="forms.get('game')?.errors?.['required']">Game is required.</small>
    </div>

    <label for="fame">Fame</label>
    <input id="fame" name="fame" type="text" formControlName="fame">
    <div *ngIf="forms.get('fame')?.invalid && forms.get('fame')?.touched">
      <small *ngIf="forms.get('fame')?.errors?.['required']">Fame is required.</small>
      <small *ngIf="forms.get('fame')?.errors?.['pattern']">Fame must be a number.</small>
    </div><br>

    <button type="submit" style="width: 20%;">Click</button>
  </form>
</div>

<div class="container" style="margin: auto;width: 80%; background-color: whitesmoke;padding: 60px 90px; border: 1px solid rebeccapurple; border-radius: 20px;">
  <div class="search" style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
    <div class="inputs">
      <label for="input1" style="display: block; color: red;">Name Search:</label>
      <input name="input1" type="search" (input)="in1(inp1.value)" #inp1>
    </div>
    <div class="inputs">
      <label for="input2" style="display: block; color: red;">Designation Search:</label>
      <input type="search" name="input2">
    </div>
    <div class="inputs">
      <label for="input3" style="display: block; color: red;">Salary Search:</label>
      <input type="search" name="input3">
    </div>
    <div>
      <h3>Customization</h3>
    </div>
  </div><br>
  <div *ngFor="let temp of list | paginate:{itemsPerPage:pageSize,currentPage:p}"  >
    <div *ngIf="temp.designation != 'Angular'"style="display: flex; justify-content: space-between; align-items: center; text-align: center; width: 100%; padding: 10px 20px; background-color: sandybrown;">
      <div class="name">
        {{temp.Name}}
      </div>
      <div class="name">
        {{temp.designation}}
      </div>
      <div class="name">
        {{temp.Salary}}
    </div>
  <div><button (click)="chqed(temp)">Edit</button><button (click)="del(temp)">Delete</button></div>
</div>
    <div *ngIf="temp.designation == 'Angular'"style="display: flex; justify-content: space-between; align-items: center; text-align: center; width: 100%; padding: 10px 20px; background-color: green;">
      <div class="name">
        {{temp.Name}}
      </div>
      <div class="name">
        {{temp.designation}}
      </div>
      <div class="name">
        {{temp.Salary}}
    </div>
  <div><button (click)="chqed(temp)">Edit</button><button (click)="del(temp)">Delete</button></div>
</div><br>    
  </div>

</div>
<pagination-controls (pageChange)="p =$event"></pagination-controls>


